.button{
    text-align: center;
}
.blank{
    color: rgb(48, 97, 243);
    text-decoration: none;
}
.container{
    width: 100%;
    text-align: center;
}
.php{
    width: 100%;
}
.sub1{
    font-style: italic;
}
.sub2{
    color:rgb(102, 102, 102);
    font-weight: 600;
}
.headline{
    margin-top: 40px;
}
.txth{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: rgb(219, 51, 52);
    text-decoration: none;
}
.txth:hover{
    text-decoration: underline;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.13009em;
    font-size: 44.2px;
    color: #000;
}
.name{
    text-decoration: none;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-weight: 600;
    font-size: 15px;
    color:rgb(0, 0, 0);
}
.name:hover{
    text-decoration: underline;
}
#daytime{
    font-family: 'Arial Narrow Bold', sans-serif;
    font-size: 12px;
    color:rgb(0, 0, 0);
}
.side{
    padding-left: 60px;
    padding-right: 60px;
}
.readding{
    font-family: TNYAdobeCaslonPro, "Times New Roman", Times, serif;
    font-size: 21px;
    font-weight: 400;
    color: rgb(0,0,0);
}
.anch{
    color: rgb(0,0,0);
    text-decoration: underline;
}
.anch:active{
    text-decoration: none;
}
.foot{
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 1600px;
    border-top: grey solid 1px;
    border-bottom: grey solid 1px; ;
}
.box{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.pt1{
    display: inline-block;
    justify-content: center;
    align-self: center;
    margin-bottom: 0px;
}
.pic{
    border-radius: 50%;
    width: 50%;
    height: auto;
}
.pt2{
    display: inline-block;
    text-align: center;   
}
.txtp{
    font-size: 21px;
    color: rgb(0,0,0);
    font-style: italic;
}
